@model CarRentalWebApp.Models.Carrental

@{
    ViewData["Title"] = "Create Car Rental";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="carrentalid" class="control-label"></label>
        <input asp-for="carrentalid" class="form-control" />
        <span asp-validation-for="carrentalid" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="carrentalcompanyname" class="control-label"></label>
        <input asp-for="carrentalcompanyname" class="form-control" />
        <span asp-validation-for="carrentalcompanyname" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="location" class="control-label"></label>
        <input asp-for="location" class="form-control" />
        <span asp-validation-for="location" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
